.products-grid {
  border: 1px solid #EEC4C9;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
}

.product-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
}

app-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;

}



