button {
  background-color: #EEC4C9;
  border-radius: 1em;
  border: 1.5px solid #EEC4C9;
  margin: 0.5em;
  padding: 2em;
}

button:hover {
  background-color: #e3b1b7;
  transform: scale(0.9);
}

.div {
  display: flex;
  padding: 1em;
  flex-direction: column;

}

